*.pyc
*.ipynb_checkpoints/
env_rar/*
RARinterpret.egg-info/*
.eggs/*
build/*
scripts/python.sh
scripts/.bashrc
*.out
.vscode/settings.json
.bashrc
download/*
plots/*
scripts/run_*.sh
scripts/__pycache__/*
results/*
results_paper/*
scripts/backup/*
data/*
ndtest/*
RARinterpret/old
scripts_plots/*.sh
